# Python
*.pyc
*.pyo
/build/
/dist/
*.egg-info

# Mac OS
*.DS_Store

# IDE
/.idea/
/.vscode/

.mypy_cache/
.cache/
.tox/
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints

# Test and coverage
test-results
coverage-html
coverage.xml
